<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Entidades.Alumnos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Alumnos.Properties.Settings.Conexion" connectionString="Data Source=LAB5PC09\SQLEXPRESS;Initial Catalog=PersonasBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Entidades.Alumnos.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Entidades.Alumnos.Properties.Settings>
    </userSettings>
</configuration>